body {
    background-color: rgb(25,150,0,0.3);
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.mainlink {
    font-size: 20px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*.whitetext {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}*/

ol {
    text-align: center;
    background-color: beige;
}

